*{
    box-sizing: border-box;
}

body, html{
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
}

body{
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    background: url("../img/white-background.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #000;

}

h1{
    margin: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
}

input[type=submit]{
    background-color: #2087b3de;
    border: 1px solid #2087b3de;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 6px 20px;
    text-align: center;
}

/*------------------------------HOME---------------------------------------*/

header{
    display: flex;
    align-items: center;
    width: 100vw;
    min-height: 60px;
    background: linear-gradient(to right, #2087b3de, #2087b3d8, #2087b331);
}

header h1{
    color: #fff;
    text-shadow: -1px -1px #000;
    margin: 0;
    padding: 0;
}

.container{
    width: 85vw;
    margin: 0 auto;
}

#header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

nav ul{
    display: flex;
}

nav a:before{
    content: "";
    display: inline-block;
    border-right: 1px solid #fff;
    border-left: 1px solid #5e5e5e;
    height: 100%;
    margin: -5px 2em;
}

nav a:hover{
    color: #000;
}

nav ul li:first-child a:before{
    display: none;
}

#content{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.post-card{
    display: flex;
    flex-direction: column;
    max-width: 65vw;
    min-width: 240px;
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 3px #858585;
    background: #ffffff;
}

.post-card-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.post-card h1{
    font-size: 1.5em;
    margin: 10px 0;
    color: #2087b3de;
}

.post-card span{
    margin: 10px 0;
}

.post-card a{
    color: #fff;
    background: #2087b3de;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #2087b3de;
    border-radius: 5px;
    cursor: pointer;
}

.post-card a:hover{
    color: #2087b3de;
    background: #fff;
    border: 1px solid #2087b3de;
}

.post-card p{
    margin: 10px 0;
}

.rating{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rating span{
    margin-top: 2px;
}

.rating h3{
    margin: 0;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 60px;
    background: linear-gradient(to right, #2087b3de, #2087b3d8, #2087b331);
    color: #fff;
}

/*--------------------------Article Page----------------------------------*/
.article-container{
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 3px #858585;
    background: #ffffff;
    min-width: 240px;
    max-width: 65vw;
}

.article-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #2088b3;
}

.article-header .rating, .article-header .article-title{
    margin-bottom: 25px;
}

.article-body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.article-body img{
    width: 100%;
}

.article-footer{
    display: flex;
    flex-direction: column;
    border-top: 3px solid #2088b3;
    border-bottom: 3px solid #2088b3;
    padding: 20px 0;
}

.article-rate{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-rate > *{
    margin: 10px 0;
}

.article-rate > span:first-child{
    border-bottom: 2px solid #2088b3;
}

.article-comments{
    display: flex;
    flex-direction: column; 
}

.article-comments h2{
    text-align: center;
    margin-bottom: 0;
}

.article-comments #comment-text{
    margin: 20px 0;
    resize: none;
    border-radius: 5px;
    border: 1px solid #2087b3de;
    box-shadow: 1px 1px 3px #000;
}

.article-comments input[type="submit"]{
    align-self: center;
    width: 30%;
    min-width: 100px;
    height: 40px;
}

#logo{
    max-width: 240px;
}

/*-----------------------------------Criar artigo Page----------------------------*/
.create-article-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 20px auto;
    padding: 20px 0;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 3px #858585;
    background: #ffffff;
    min-width: 240px;
    max-width: 65vw;
}

.create-article-form textarea, .create-article-form input, .create-article-form label{
    resize: none;
    width: 70%;
    max-width: 700px;
    min-width: 200px;
    margin: 10px 0;
    border: 1px solid #2087b3de;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #000;
}

.create-article-form textarea{
    font-size: 1em;
}

.create-article-form input[type=file]{
    display: none;
}

.create-article-form label{
    background-color: #2087b3de;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 6px 20px;
    text-align: center;
}

.create-article-form input[type="submit"]{
    width: 20%;
}

#create-title{
    height: 40px;
    font-size: 1em;
}

#create-description{
    height: 120px;
    margin-bottom: 0;
}

#create-article{
    height: 500px;
}

/*-----------------responsividade---------------------------*/

@media only screen and (max-width: 1040px) { 
    .container #header-container{
        flex-direction: column;
        justify-content: center;
    }

}

@media only screen and (max-width: 650px) { 
    .article-header, .post-card-header{
        justify-content: center;
        text-align: center;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    nav ul li{
        margin: 10px 0;
    }

    nav a:before{
        display: none;
    }

}